@import 'tailwindcss';

@theme {
  --font-body: 'Inter', sans-serif;

  --color-grey-900: #0A0A0A;
  --color-grey-800: #171717;
  --color-grey-700: #262626;
  --color-grey-600: #404040;
  --color-grey-500: #525252;
  --color-grey-400: #737373;
  --color-grey-300: #A1A1A1;
  --color-grey-200: #D4D4D4;
  --color-grey-100: #F5F5F5;
  --color-grey-50: #FAFAFA;

  --color-white: #FAFAFA
}

@layer components {
  html {
    @apply font-body text-[1rem] leading-[150%] bg-black
  }
}